html,
body {
    width: 100%;
    height: 100%;
}

body {
  font-family: 'Lato', 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 17px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FFF5E9;
  display: flex;
  flex-direction: column;
  webkit-tap-highlight-color: #222;
}

hr {
    max-width: 50px;
    border-color: #597449;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #46697D;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #46697D;
    text-decoration: none;
}

h2{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 28px;
  font-weight: 800;
  color: #663500;
}

h4{
    font-size: 20px;
}
p {
    font-size: 16px;
    letter-spacing: 0.8px;
    font-weight: 400;
    line-height: 1.8;
}

section {
    padding: 50px 0;
    flex: 1 0 auto;
}
section#bonjour {
    padding-top: 100px;
}
section#subsection {
    padding: 0;
}

footer {
  flex-shrink: 0;
}

.navbar-default {
    border: none;
    background-color: #FFF5E9;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-header {
  display: flex;
  align-items: center;
}

.navbar-default .navbar-header .navbar-brand {
    font-size: 28px;
    color: #663500;
    font-family: ivymode, sans-serif;
    font-weight: 600;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.2px;
    color: #597449;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #222!important;
    border-bottom: medium solid #597449;
}

@media(min-width:768px) {
    .navbar-default {
        border: none;
    }

    /*nav link color - black*/
    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #222;
    }

    /*nav link color on hover - gray*/
    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: gray;
    }

    .navbar-default.affix {
        border: none;
    }

    /*nav link color - purple*/
    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 30px;
        color: #663500;
    }

    /*nav link color - black*/
    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    /*nav link color on hover - gray*/
    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: gray;
    }
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: transparent;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: transparent;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: transparent;
}

.btn-primary {
    border-color: #2980B9;
    color: transparent;
    background-color: #2980B9;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #156BA4;
    color: #fff;
    background-color: transparent;
}

.navbar-default
.navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.section {
  /* display: none; */
  display: flex;
  flex-direction: column;
}
/* .section.active {
  display: flex;
  flex-direction: column;
} */

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: row;
}

.fixed-button {
  position: fixed;
  bottom: 20px;
  top:auto;
  right: 25px;
  left: auto;
}
.fixed-button:hover {
  cursor: default;
  font-weight: bold;
}

.subsection {
  display: flex;
  justify-content: space-evenly;
}

.bg-1 {
  background-image: url("../img/90s_background.png");
}

.bg-2 {
  background-image: url("../img/codeps_background.png");
}

.bg-3 {
  background-image: url("../img/apps_bg.png");
}
