body {
  font-family: 'Lato', 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 17px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FFF5E9;
}

.wrapper {
  padding: 96px 0;
}

.font-secondary {
  font-family: 'Lato', serif !important;
}

.text-h1 {
  font-size: 36px;
  line-height: 52px;

  @media (min-width: @screen-sm-min) {
    font-size: 32px;
    line-height: 48px;
  }
}

.text-h2 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;

  @media (min-width: @screen-sm-min) {
    font-size: 28px;
    line-height: 32px;
  }
}

.text-body-1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;

  @media (min-width: @screen-sm-min) {
    font-size: 18px;
    line-height: 28px;
  }
}

.text-body-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;

  @media (min-width: @screen-sm-min) {
    font-size: 14px;
    line-height: 24px;
  }
}

.blockquote {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @screen-sm-min) {
    font-size: 28px;
  }
}

.text-caption {
  font-size: 14px;
  line-height: 22px;

  @media (min-width: @screen-sm-min) {
    font-size: 12px;
    line-height: 18px;
  }
}

a {
  color: #104E8B !important;
  border-bottom: 2px solid #104E8B;
  text-decoration: none;
  word-break: break-word;
}

/* Small devices (tablets, 768px and up) */
/* @media (min-width: @screen-sm-min) { ... } */

/* Medium devices (desktops, 992px and up) */
/* @media (min-width: @screen-md-min) { ... } */

/* Large devices (large desktops, 1200px and up) */
/* @media (min-width: @screen-lg-min) { ... } */

#scrolly__section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* background-color: #f3f3f3; */
  padding: 1rem;
}

#scrolly__section > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.scrolly__content {
  position: relative;
  padding: 0 1rem;
  width: 100%;
}

.scrolly__chart {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;
}

.scrolly__chart iframe {
  width: 100%;
  height: 100%;
}

.step {
  margin: 0 auto 2rem auto;
  border: 2px solid #104E8B;
  display: flex;
  justify-content: center;
  align-items: start;
}

.step:last-child {
  margin-bottom: 0;
}

.text-block.is-active {
  background-color: goldenrod;
  color: #3b3b3b;
}

.text-block {
  background-color: salmon;
}

.step p {
  text-align: center;
  padding: 1rem;
}

iframe {
  border: unset;
}

/* nav bar */

.navbar-default {
    border: none;
    background-color: transparent;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-header {
  display: flex;
  align-items: center;
}

.navbar-default .navbar-header .navbar-brand {
    font-size: 28px;
    color: #663500;
    font-family: ivymode, sans-serif;
    font-weight: 600;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.2px;
    color: #ccdfcb;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #ccdfcb;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #222!important;
    border-bottom: medium solid #ccdfcb;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    border-bottom: medium solid #ccdfcb;
}

/* .navbar-about {
  font-family: futura-pt, sans-serif;
  font-size: 22px;
  color: #663500;
}

.navbar-about--selected {
  font-weight: 500;
  border-bottom: 2px solid #663500;
} */

@media(min-width:768px) {
    .navbar-default {
        border: none;
    }

    /*nav link color - black*/
    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #222;
    }

    /*nav link color on hover - gray*/
    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: gray;
    }

    .navbar-default.affix {
        border: none;
    }

    /*nav link color - purple*/
    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 30px;
        color: #663500;
    }

    /*nav link color - black*/
    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    /*nav link color on hover - gray*/
    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: gray;
    }
}

header {
    position: relative;
    text-align: center;
    color: #333;
    height: 500px;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}
