html,
body {
    width: 100%;
    height: 100%;
}

body {
  font-family: 'Lato', 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 17px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FFF5E9;
  display: flex;
  flex-direction: column;
  webkit-tap-highlight-color: #222;
}

hr {
    max-width: 50px;
    border-color: #597449;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #46697D;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #46697D;
    text-decoration: none;
}

h2{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 28px;
  font-weight: 800;
  color: #663500;
}

h4{
    font-size: 20px;
}
p {
    font-size: 16px;
    letter-spacing: 0.8px;
    font-weight: 400;
    line-height: 1.8;
}

section {
    padding: 50px 0;
    flex: 1 0 auto;
}
section#bonjour {
    padding-top: 100px;
}
section#subsection {
    padding: 0;
}

footer {
  flex-shrink: 0;
}

.navbar-default {
    border: none;
    background-color: #FFF5E9;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-header {
  display: flex;
  align-items: center;
}

.navbar-default .navbar-header .navbar-brand {
    font-size: 28px;
    color: #663500;
    font-family: 'IvyMode', sans-serif;
    font-weight: 600;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.2px;
    color: #597449;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #222!important;
    border-bottom: medium solid #597449;
}

@media(min-width:768px) {
    .navbar-default {
        border: none;
    }

    /*nav link color - black*/
    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #222;
    }

    /*nav link color on hover - gray*/
    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: gray;
    }

    .navbar-default.affix {
        border: none;
    }

    /*nav link color - purple*/
    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 30px;
        color: #663500;
    }

    /*nav link color - black*/
    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    /*nav link color on hover - gray*/
    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: gray;
    }
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: transparent;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: transparent;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: transparent;
}

.btn-primary {
    border-color: #2980B9;
    color: transparent;
    background-color: #2980B9;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #156BA4;
    color: #fff;
    background-color: transparent;
}

.navbar-default
.navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.section {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  padding: 150px 0;
  justify-content: center;
  align-items: center;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.intro {
  display: flex;
  flex-direction: row;
}

.fixed-button {
  position: fixed;
  bottom: 20px;
  top:auto;
  right: 25px;
  left: auto;
}
.fixed-button:hover {
  cursor: default;
  font-weight: bold;
}

.subsection {
  display: flex;
  flex-direction: column;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  width: 33.33%;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  max-width: 300px;
}
.circle_inner__layer {
  width: 600px;
  height: 200px;
  transition: all 0.4s;
  position: absolute;
  top: 0;
  left: -200px;
}
.circle_inner__layer img {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.circle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  width: 300px;
  transform: translateY(-50%);
  transition: all 0.5s;
  cursor: pointer;
}
.circle:hover .circle_shine {
  top: 330px;
  left: -200px;
}
.circle_shine {
  background: white;
  width: 600px;
  transition: 0.3s;
  height: 200px;
  opacity: 0.2;
  top: -10px;
  left: -90px;
  transform: rotate(45deg);
  position: absolute;
  z-index: 2;
}
.circle:hover h2, body .circle:hover h3 {
  opacity: 1;
  top: -36px;
}
.circle:hover .content_shadow {
  transform: scale(1.1);
  top: -22px;
}
.circle:hover h3 {
  transition: all 0.2s 0.04s;
}
.circle:hover h2 {
  transition: all 0.2s;
}
.circle .circle_inner__layer:nth-of-type(1) {
  top: 0px;
  left: 0px;
}
.circle .circle_inner__layer:nth-of-type(2) {
  top: 0px;
  left: -210px;
}
.circle .circle_inner__layer:nth-of-type(3) {
  top: 0px;
  left: -420px;
}
.circle_title {
  text-align: center;
}
.circle_title h2,
.circle_title h3 {
  opacity: 0;
  color: #597449;
  margin: 0;
  transition: all 0.2s 0.04s;
  position: relative;
  top: -10px;
}
.circle_title h3 {
  transition: all 0.2s;
  color: #b0d5d6;
  font-size: 15px;
}
.circle_inner {
  border-radius: 200px;
  background: #b0d5d6;
  overflow: hidden;
  margin: auto;
  width: 200px;
  z-index: 1;
  transition: all 0.3s;
  height: 200px;
  position: relative;
}
.circle_inner:hover {
  transform: scale(1.1);
}
.circle_inner:hover .circle_inner__layer:nth-of-type(1) {
  left: -80px;
  transition: all 4s linear;
}
.circle_inner:hover .circle_inner__layer:nth-of-type(2) {
  left: -400px;
  transition: all 4s linear;
}
.circle_inner:hover .circle_inner__layer:nth-of-type(3) {
  left: -140px;
  transition: all 4s linear;
}
.content_shadow {
  width: 200px;
  box-shadow: 0px 31px 19px -2px #e0e8f9;
  height: 20px;
  border-radius: 70%;
  position: relative;
  top: -44px;
  transition: all 0.3s;
  z-index: 0;
}

.rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 250px;
  box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.1);
  transition: all 0.35s ease-in;
}

.rectangle:hover {
  box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.15);
}

.moment-title {
  font-weight: 600;
  font-size: 48px;
  color: #663500;
  font-family: 'IvyMode', sans-serif;
}

.moment-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moment-row img {
  display: none;
}

.rectangle-one {
  /* background-color: rgba(138, 198, 249, 0.2); */
  background-image: url("../img/90s_background.png");
}

.rectangle-two {
  /* background-color: rgba(140, 220, 221, 0.2); */
  background-image: url("../img/codeps_background.png");
}

.rectangle-three {
  /* background-color: rgba(218,217, 74, 0.2); */
  background-image: url("../img/apps_bg.png");
}

.moment-row-text {
  text-align: center;
}

@media (min-width: 1025px) {
  .subsection {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .moment-row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .moment-row img, .moment-row-text {
    display: block;
    position: absolute;
  }

  .rectangle {
    position: relative;
    text-align: left;
    flex: 0 0 auto;
    height: 450px;
    width: 550px;
  }

  .rectangle:hover {
    height: 455px;
    width: 555px;
  }

  .moment-title {
    position: absolute;
    font-size: 72px;
  }

  .moment-title-one {
    top: 15%;
    right: 15%;
    text-align: right;
  }

  .moment-title-two {
    top: 30%;
    right: -15%;
  }

  .moment-title-three {
    top: 40%;
    left: 10%;
    text-align: right;
  }
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.icon-width {
  width: 125px;
}
